# This file should be copied and renamed to "secrets.properties". WARNING: Do not make changes in the .example-file, you may accidentally expose your secret.

spring.security.oauth2.client.registration.oauth.client-secret=<your_client_secret>
# See example below:
# spring.security.oauth2.client.registration.oauth.client-secret=qY6vInJzvtR9jK1rylp9nL1hsMPi2UGi
